button {
	&:hover:focus {
		outline: none;
	}
}

.button {
	display: inline-block;
	margin: 0 0 $margin;
	padding: (($button-height - $baseLineHeight) / 2) 13px;
	border: none;
	@include font-size($baseFontSize);
	@include line-height($baseLineHeight, $baseFontSize);
	font-family: $bodyFontFamily;
	font-weight: 700;
	color: $white;
	border-radius: $default-border-radius;
	transition: background .15s, ease-in-out, color .15s, ease-in-out;
	cursor: pointer;
	&:hover {
		background: darken($mainColor, 10%);
		color: $white;
	}
}
.button--expanded {
	display: block;
	width: 100%;
 	text-align: center;
}

.button--primary{
	background: $mainColor;
	&:hover {
		background: darken($mainColor, 10%);
	}
}
.button--secondary {
	background: $secondaryColor;
	&:hover {
		background: darken($secondaryColor, 10%);
	}
}
.button--transparent {
	background: transparent;
	padding: ((($button-height - $baseLineHeight) / 2)-$button-border-width) 13px;
	border: $button-border-width solid $mainColor;
	box-shadow: none;
	color: $mainColor;
	&:hover {
		background: $mainColor;
	}
}


.button--dropdown {
	position: relative;
	z-index: 1;
	&:hover {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		cursor:pointer;
	}
}
.button__flyout {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: none;
	padding-bottom: (($button-height - $baseLineHeight) / 2);
	background: darken($mainColor, 10%);
	border-bottom-left-radius: $default-border-radius;
	border-bottom-right-radius: $default-border-radius;
	.button--secondary & {
		background: darken($secondaryColor, 10%);
	}
	.button--transparent & {
		background: $mainColor;
		width: calc(100% + #{$button-border-width * 2});
		left: -($button-border-width);
	}
	.button--dropdown:hover & {
		display: block;
		z-index:1;
	}
}
.button__dropdown-list {
	@include listing();
	display: inline-block;
	width:100%;
	&:hover{
		cursor:pointer;
	}
}
.button__dropdown-link {
	display: block;
	padding: 0 13px;
	color:$white;
	&:hover {
		color: darken($white, 10%);
	}
	.button--transparent &, .button--transparent &:hover {
		color: $white;
	}
}
