.footer{
	margin-top:30px;
	@media #{€phone}{
		margin-top:16px;
	}
}

.footer-top, .footer-bottom{
	@media #{$phone}{
		text-align: center;
	}
}

.footer__logo{
	@media #{$phone}{
		display: none;
	}
}

.footer-bottom{
	padding:30px 0;
	@media #{$phone}{
		padding:16px 0;
	}
}

.footer__newsletter p{
	@media #{$phone}{
		display: none;
	}
}

.footer-bottom__glue{
	float:right;
	@media  #{$phone} {
		display: inline-block;
		float: none;
	}
}
