$mainColor: #2D8EFF;
$secondaryColor: #f5f5f5;
$lightBlue: #F7FBFF;
$grey: #778F9B;
$lightGrey:#E4E4E4;
$alertColor: #e52931;
$borderColor: #DDE2E8;
$txtColor: #222222;
$headerFontColor:$txtColor;
$black: #242424;
$white: #ffffff;
$styleguideGrey:#f4f2f2;
