{% extends "_layouts/base" %}
{% if bodyClass is not defined %}
	{% set bodyClass = entry is defined ? entry.section.handle : craft.app.request.segments|first  %}
{% endif %}
{% block body %}
	{% include "_components/header" %}
	<main class="main" >
		{% block main %}{% endblock %}
	</main>
	{% include "_components/footer" %}
{% endblock %}
