{% extends "_layouts/site" %}
{# {% import '_macros/imager' as images %}
{% import '_macros/critical' as critical %} #}

{% block inlineCss %}
	{# <style type="text/css">
		{% set templateName = _self.getTemplateName() %}
		{{critical.css(templateName)}}
	</style> #}
{% endblock %}

{% block jsFiles %}
	'{{rev('js/app.js')}}'
{% endblock %}

{% block main %}
	<div id="app"></div>
{% endblock %}
